main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  padding: 6rem 3.2rem;
  .form {
    display: flex;
    align-items: center;

    .heading-primary {
      margin-right: 3.2rem;
      font-weight: 400;
      font-size: 2.5prem;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
    .color-input {
      height: 42px;
      width: 50px;
      border: 1px solid #fff;
      background-color: #fff;
    }

    .text-input {
      border: none;
      font-family: "Arial";
      padding: 1rem 1.8rem;
      font-size: 1.9rem;
      color: #94a3b8;
    }

    .btn {
      padding: 13px;
      font-family: "Arial";
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 2px;
      text-transform: capitalize;
      border: none;
      color: #ffffff;

      background: #645cff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.06);
      border-radius: 0px 4px 4px 0px;
      cursor: pointer;

      transition: 0.3s all;
    }
    .btn:hover {
      background: #363195;
    }
  }
}

.color-container {
}

.color-box {
  height: calc(100vh - 162px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));

  .color-item {
    padding: 20px 32px;

    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 400;
    cursor: pointer;
  }
}
